In [14]:
import pandas as pd
import numpy as np

In [25]:
df = pd.read_csv('2020_bn_nb_data.txt', sep='\t')

In [26]:
# create a dictionary to store the grades
grades = {'AA': 10, 'AB': 9, 'BB': 8, 'BC': 7, 'CC': 6, 'CD': 5, 'DD': 4, 'F': 0, 10: 10, 9: 9, 8: 8, 7: 7, 6: 6, 5: 5, 4: 4, 0: 0}
qp = {'y': 1, 'n': 0, 1: 1, 0: 0}

In [30]:
# replace values of all columns with the dictionary values
for col in df.columns[:-1]:
    df[col] = df[col].map(grades, na_action='ignore')
df['QP'] = df['QP'].map(qp, na_action='ignore')
df.head()

   EC100  EC160  IT101  IT161  MA101  PH100  PH160  HS101  QP
0      7      6      8      7      6      7     10      8   1
1      6      7      8      8      6      7      9      8   1
2      9      8      9      9      8      6      7      9   1
3      7      6      8      8      8      8      7      8   1
4      7      9      5      7      7      7      7      5   1